@font-face {
   font-family: 'din-condensed-bold';
   font-display: swap;
   src: url('file:///C:/Users/Vinicius/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-25_190750/fonts/din-condensed-bold/font.ttf');
}
